html{
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;    
}
.formInput{
    justify-content: center;
    display: flex;
    grid-gap: 0px;
}
.logo{
    margin: 0px 0px -300px -240px;
    
}
h1{
    font-size: 128px;
    top: -360px;
    left: 240px;
    position: relative;
}
.imgLogo{
    height: 400px;
    position: relative;
}
.fontHeavy{
    font-weight: 700;
}
.fontBig{
    font-size: 36px;
}
.inputLocation{
    border: 1px solid;
    border-radius: 10px 0px 0px 10px;
    height: 3rem;
    width: 300px;
}

.submitLocation{
    border: 1px solid;
    border-radius: 0px 10px 10px 0px;
    height: 3.2rem;
    width: 10rem;
    align-self: center;
}

.submitLocation:hover{
    background-color: hsl(0, 0%, 75%);
}

.submitLocation:active{
    background-color: hsl(0,0%,25%);
}

.divData{
    margin-top: 10rem;
    display: flex;
    flex-flow: row wrap;
    grid-gap: 20px;
    justify-content: center;
    
}

.sectionMain{
    border-left: 4px solid hsl(188, 100%, 50%);
    border-radius: 10px;
    background-color: hsla(188,100%,50%,0.33);
    height: 10rem;
    width: 40rem;
    display: flex;
    flex-flow: column wrap;
    padding: 20px;
}

.sectionData{
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-content: center;
    width: 50%;
}

.sectionData > *{
    justify-self: center;
    align-self: center;
}

.imgData{
    height: 30px;
}